*.iml
lint/*
app/lint/*
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
app/lint
/app/release/*
/app/debug/*
/app/lint/*
.gradle
/.idea/*
/.idea/vcs.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
