<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sekiro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sekiro.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APPLICATION_NAME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.sekiro.ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".deeplink.DeepLinkHandlerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sekiro" />
            </intent-filter>
        </activity>

        <activity android:name="com.sekiro.ui.sample.addcity.AddCityActivity" />

        <activity android:name="com.sekiro.ui.sample.citydetails.CityDetailsActivity" />

        <activity android:name="com.sekiro.ui.sample.htmlviewer.HtmlViewerActivity" />

        <service
            android:name=".utils.AppFirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id" />
    </application>

</manifest>
